.action-btn2{
    font-size: 25px;
    display: flex;
    gap: 10px;
    
}

.i1{
    color: #0d6efd;
}
.i2{
    color: #dc3545;
}
.i3{
    color: #198754;
}

.bgImg{
    display: flex;
    color: white;
    background: rgba(0,0,0,.7) url('../../../../../assets/Image/bookshelf-413705_1920.jpg') no-repeat center ;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.fortable{
    background-color: white;
}