
<div class="home ">
    <div class=" title">
        <h1>Expand your mind </h1>
        <h2>reading a book</h2>
        <p>Reading books is a wonderful way to spend your time.</p>
        <div class="button">
            <button class="btn btn-primary my-2 my-sm-0" routerLink="register" (click)="toSign()" type="submit">Sign Up</button>
            <button class="btn btn-success my-2 my-sm-0 mx-3" routerLink="login" (click)="toLogin()" type="submit">Login</button>
        </div>

    </div>
</div>