
<div class="bgImg p-5">
    <div class="container register card p-3 mb-3">
        <h4>Register Here..</h4>
        <form [formGroup]="registerForm "  (ngSubmit)="register()">

            <div class="form-group my-3">
                <label> User Name</label>
                <input type="text" class="form-control" id="userName" name="userName" formControlName="userName">
                <span class="red"
                    *ngIf="registerForm.get('userName')?.touched && registerForm.get('userName')?.hasError('required')">
                    UserName is required !
                </span>
            </div>

            <div class="form-group my-3">
                <label>Email</label>
                <input type="text" class="form-control" id="email" name="email" formControlName="email">
                <span class="red"
                    *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">
                    Email is required !
                </span>
            </div>


            <div class="form-group my-3">
                <label>Password</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password">
                <span class="red"
                    *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">
                    Password is required !
                </span>
            </div>
            <div class="form-group my-3">
                <label>ConfirmPassword</label>
                <input type="password" class="form-control" id="checkPassword" name="checkPassword"
                    formControlName="checkPassword">
                <span class="red"
                    *ngIf="registerForm.get('checkPassword')?.touched && registerForm.get('checkPassword')?.hasError('required')">
                    Confirm Password is required !
                </span>
                <span class="red"
                    *ngIf="registerForm.get('checkPassword')?.hasError('confirm')  &&  (registerForm.get('confirm')?.dirty || registerForm.get('checkPassword')?.touched)">
                    Passwords do not match!
                </span>
            </div>

            <button class="btn btn-success" [disabled]="registerForm.invalid"  type="submit">Sign Up</button>

        </form>
    </div>
</div>